server:
  port: 8081

vapeit:
  api-url: ${VAPEIT_API_URL:http://localhost:8080}

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5433/vapeit_reorder}
    username: ${DB_USERNAME:vapeit}
    password: ${DB_PASSWORD:vapeit}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false
  sql:
    init:
      mode: never

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.hibernate.tool.schema: debug
