spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5433/vapeit_reorder}
    username: ${DB_USERNAME:vapeit}
    password: ${DB_PASSWORD:vapeit}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false
  sql:
    init:
      mode: never

logging:
  level:
    org.hibernate.SQL: info
